*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#root{
    height: 100vh;
}

/*Map Container Style*/
.leaflet-container{
    height: 60vh;
    margin: 5vh;
}

Marker:hover{
    transform: scale(1.5,1.5);
}