*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#root{
    height: 100vh;
}

/*Map Container Style*/
.leaflet-container{
    height: 60vh;
    margin: 5vh;
}

.wrapper{
    padding: 0;
    margin: 0;
    background-color: aqua;
}
