html{
  overflow-x: hidden;
  overflow-y: overlay;
}
.navBar{
  background-color: #466269;
  display: flex;
  height: 100px ;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Montserrat", sans-serif;
  top: 0px;
  padding-left: 2%;
  padding-right: 2%;
}

.weather{
  display: grid;

}

.morning{
  height: auto;
  width: 100%;
  background-Image: url("../public/Assets/backgroundSunset.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 20vh;
  background-attachment: fixed;

}

.evening{
  height: auto;
  width: 100%;
  background-Image: url("../public/Assets/backgroundSunset.png");
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20vh;
  background-attachment: fixed;

}

.night{
  height: auto;
  width: 100%;
  background-image: url("../public/Assets/backgroundNight.png");
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20vh;
  background-attachment: fixed;

}

.day{
  height: auto;
  width: 100%;
  background-Image:
  url("../public/Assets/backgroundDefault.png");
  background-repeat: no-repeat;
  background-size:cover;
  padding-bottom: 20vh;
  background-attachment: fixed;

}

/*Styling for map*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root{
  height: 100vh;
}

.general{
  border-color: black;
  border-width: thick;
}

.map-container{
  text-align: center;
  color: #E1FBFC;
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  stroke-width: bold;
  margin-top: 5vh;
}

input, #submit{
  margin-bottom: 7vh;
  color: #466269;
  /* border-radius: 10px; */
  padding: 1vh;
}

/* #submit{
  color: #466269;
  padding: 1vh;
  border-radius: 10px;
} */

h1{
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(180deg, rgba(95,136,137,1) 0%, rgba(56,65,157,1) 100%);
}


::-webkit-scrollbar-thumb {
  background: #B1F2F4;
  border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
  background: #9cd6d8;
}


input{
  background-color:#5F8889;
  border-color:#E1FBFC;
  border-width: 4px;
  border-radius: 5px;
  border-style:solid;
  color: #ffffff;
  font-family: "Istok Web", sans-serif;
  width: 20%;
}

::placeholder{
  color: #ffffff;
  font-family: "Istok Web", sans-serif;
}
