@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.istok-web-regular {
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (min-width: 900px) {
    
    .loc {
        text-align: center;
        
    }

    .weather {
        font-family: "Istok Web", sans-serif;
        color: #E1FBFC;
        display: grid;
        grid-template-rows: 25% 15% 15% 25% 25%;
        grid-template-columns: auto 10vw auto;
        margin-left: 15%;
        float: left;
        margin-right: 10%;
    }

    .waves{
        float:none;
    }

    .weather h2, .weather p{
        text-align: center;
    }

    .icon{
        width: 9vh;
        height: auto;
        margin-left: 0%;
        text-align: left;
    }

    .general{
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        margin: auto;
    }

    .temperature{
        grid-column: 1;
        grid-row-start: 4;
        grid-row-end: 4;

    }

    .wind{
        grid-column: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .wavedata{
        grid-column: 3;
        grid-row-start: 3;
        grid-row-end: 3;
        margin-top: auto;

    }

    .vertBar{
        width: auto;
        height: auto;
        grid-column-start: 2;
        grid-column-end: 2;

        grid-row-start: 1;
        grid-row-end: 4;

        margin-left: auto;
        margin-right: auto;
    }

    .mobileBar1{
        width: min-content;
        height: auto;
        grid-column-start: 1;
        grid-column-end: 1;

        grid-row-start: 3;
        grid-row-end: 3;

        margin: auto;
    }

    .mobileBar2{
        width: min-content;
        height: auto;
        grid-column-start: 3;
        grid-column-end: 3;

        grid-row-start: 2;
        grid-row-end: 2;  
        
        margin: auto;
    }

    .mobileBar3{
        display: none;
    }

    .weather p {
        margin: 2px;
    }
    .data {
        color: #B1F2F4;
    }

    .navBar{
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 7vh;
        margin-top: 1vh;
    }

    .day, .night, .evening, .morning{
        padding-top: 1vw;
    }

    .waves{
        width: 100vw;
        position: fixed;
        left: 0;
        top: 85vh;
        z-index:9999;
        bottom: -40px;
    }
      
    .backgroundWave{
        width: 100vw;
        position: fixed;
        top: 80vh;
        left: 0;
        z-index:9998;
    }

    #wave2{
        bottom: -20px;
    }

    .map-container,.leaflet-container{
        float: none;
    }

}

@media (min-width: 1350px){
    .weather,.map-container{
        float: left;
    }
    .map-container{
        width: 20%;
        margin-left: auto;
        margin-right: auto ;
    }
    .day,.evening,.night,.morning{
        height: 180vh;
    }

    .weather{
        margin-left: 10%;
        margin-right: 5%;
    }
}

@media (max-width: 1349px){
    .map-container{
        width: 80vw;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .vertBar{
        display: none;
    }
}

@media(max-height: 600px){
    .vertBar{
        display: none;
        grid: none;
    }
} 
