@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.istok-web-regular {
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (min-width: 580px) {
    
    .loc {
        text-align: center;
    }
    .weather {
        text-align: center;
        font-family: "Istok Web", sans-serif;
        color: #E1FBFC;
        display: grid;
        grid-template-rows: auto 5% auto;
        grid-template-columns: 40% 20% 40%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .general{
        grid-column: 1;
        grid-row-start: 0;
        grid-row-end: 1;
    }

    .temperature{
        grid-column: 1;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .wind{
        grid-column: 3;
        grid-row-start: 0;
        grid-row-end: 1;
    }

    .wavedata{
        grid-column: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .bar1{
        width: auto;
        height: auto;
        grid-column-start: 1;
        grid-column-end: 3;

        grid-row-start: 1;
        grid-row-end: 2;

    }

    .bar2{
        width: auto;
        height: auto;
        grid-column-start: 2;
        grid-column-end: 2;

        grid-row-start: 1;
        grid-row-end: 3;
    }

    .bar3, .bar4, .bar5{
        display: none;
    }
    
    .weather p {
        margin: 2px;
    }
    .data {
        color: #B1F2F4;
    }

    .navBar{
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 7vh;
        margin-top: 1vh;
    }

    .day, .night, .evening, .morning{
        padding-top: 1vw;
    }

    .waves{
        width: 100%;
        position: fixed;
        top: 85vh;
        z-index:9999;
        bottom: -40px;
    }
      
    .backgroundWave{
        width: 100%;
        position: fixed;
        top: 80vh;
        z-index:9998;
    }

    #wave2{
        bottom: -20px;
    }

}
