@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.istok-web-regular {
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 360px) {
    .all {
        background-color: #566c8e;
    }
    .loc {
        text-align: center;
    }
    .weather {
        text-align: center;
        font-family: "Istok Web", sans-serif;
        color: #E1FBFC;
    }
    .weather p {
        margin: 2px;
    }
    .data {
        color: #B1F2F4;
    }
}


